@using CarMechanic.Shared
<EditForm Model="Customer" OnValidSubmit="() => OnValidSubmit()">
    <DataAnnotationsValidator />

    <div class="mb-3">
        <label class="form-label">Name</label>
        <InputText @bind-Value="Customer.Nev" class="form-control"/>
        <ValidationMessage For="() => Customer.Nev" />
    </div>
    <div class="mb-3">
        <label class="form-label">Address</label>
        <InputText @bind-Value="Customer.Lakcim" class="form-control"/>
        <ValidationMessage For="() => Customer.Lakcim" />
    </div>
    <div class="mb-3">
        <label class="form-label">Email</label>
        <InputText @bind-Value="Customer.Email" class="form-control"/>
        <ValidationMessage For="() => Customer.Email" />
    </div>

    <button class="btn btn-primary" type="submit">Save</button>
</EditForm>

@code {
    [Parameter]
    public Customer Customer { get; set; }
    
    [Parameter]
    public Func<Task> OnValidSubmit { get; set; }

    [Parameter]
    public string ButtonText { get; set; }
}
